@font-face {
    font-family: Noto Sans KR;
    font-weight: 100;
    src: url(font/NotoSansKR-Thin.otf) format("otf")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 300;
    src: url(font/NotoSansKR-Light.otf) format("otf")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    src: url(font/NotoSansKR-Regular.otf) format("otf")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    src: url(font/NotoSansKR-Medium.otf) format("otf")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    src: url(font/NotoSansKR-Bold.otf) format("otf")
}