.section2_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 150px;
}

.section2_top_container{
    text-align: center;
    padding-bottom: 30px;
}

.section2_title{
    font-size: 35px;
}

.section2_info{
    font-size: 20px;
}

.section2_text{
    font-size: 15px;
    color: #999999;
}

.section2_btm_container{
    display: flex;
    height: 350px;
    width: 80%;
    flex-direction: column;
    gap: 15px;
}

.section2_btm_item{
    flex-grow: 1;
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #262626;
}

.btm_item_text{
    color:white;
    font-size: 15px;
}
