html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; /* 초기화 */
}

* {
    font-family: 'Noto Sans KR';
    letter-spacing: -1px;
}


::-webkit-scrollbar {
    display: none;
  }

.box1 { width: 100%; }

#header_wrap {
    position: fixed;
    width: 100%;
    height:80px;
    background-color: #47644F;
    display:flex;
    align-items: center;
    justify-content: center;/* header안의 div 가운데 정렬 */
    z-index: 1;
}

.header_contents {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {margin-left: 40px;}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    font-family: 'Noto Sans KR';
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
}

.menu a:not(last-child){
    margin-right: 40px;
}

#main_visual {
    position: relative;
    height: 900px;
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main_visual_image {
    height: 100%;
    display: flex;
}
  .main_visual_image::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background : linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 40%,
        rgba(255, 255, 255, 0.7) 70%,
        rgba(255, 255, 255, 1) 100%
      ),url("image/tree.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    box-sizing: border-box;
    opacity: 0.5;
    content: "";
    z-index: -1;
  }
#container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 80px;
}
.container_contents {
    max-width:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
}

.introduce_seeds {
    display: flex;
    height: 502px;
    flex-direction: column;
    align-items: center;
}

.introduce_seeds h3 {
    font-size: 50px;
    font-weight: 800;
    height: 100px;
}
.introduce_seeds h5 {
    font-size: 24px;
    font-weight: 400;
    height: 50px;
    color:#828282;
}

.introduce_article {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    gap:20px;
    margin-top: 20px;
}

.introduce_article div {
    padding:50px;
    line-height: 180%;
    word-break: keep-all;
    font-size: 20px;
    text-align: center;
    background-color: rgb(221, 231, 221);
    border-radius: 1rem;
}