html, body {
    height:100%;
} /*전체 사이트를  사용하기 위함*/

.project-list-container{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow-y: auto;
}

.project-list-count{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    margin-bottom: 80px;
    color:white;
    font-size: 25px;
    /* 153.6 */
}

.project-list-card-container{
    display: grid;
    width: 75%;
    height: calc(100% - 153.6px);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

.project-card-box{
    /* display: flex; */
    height: 200px;
    background-color: white;
}

/* .project-card-image{

} */

/* .project-card-content{


} */