.section4_container{
    display: flex;
    background-color: white;
    width: 850px;
    height: 300px;
    flex-direction: column;
}

.section4_title{
    display: flex;
    text-align: start;
    width: 100%;
    height: 120px;
    font-size: 35px;
    color:black;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
}

.section4_content_container{
    background-color: white;
    display:flex;
    margin:0;
    align-items: flex-end;
    width: 100%;
    height: 340px;
    gap: 30px;
}

.section4_content_box{
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom: 0;
    height: 100%;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #47644f;
}

.title_box{
    display: flex;
    color:white;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.text_box{
    display: flex;
    font-size: 1rem;
    color:#c3c3c3;
    margin-left: 1rem;
}